.mainBody {
  display: flex;
  height: 100vh;
}
.vl {
  border-left: 1px solid rgb(230, 230, 230);
  height: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
}
.parentSideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.parentSideTopMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  gap: 2rem;
  padding: 1.5rem;
}
.parentSideBottomMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  gap: 2rem;
  padding: 1.5rem;
}

.sideMenu {
  display: flex;
  align-items: center;
  text-align: left;
  text-wrap: nowrap;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
}
.sideMenu p {
  font-size: 15px;
  color: #6a707c;
  font-weight: 500;
}
.logoDiv {
  padding: 0.5rem 2rem;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5rem 0.8rem;
  padding: 0;
}
.rightComponent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  height: auto;
  width: 100%;
}
.searchBar {
  display: flex;
  width: 60rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(224, 221, 221);
  background-color: white;
  gap: 1rem;
  border-radius: 3rem;
}
input:focus {
  outline: none;
}
.profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.profileImage {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  background-color: #08255f;
}
.dashHome {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  width: 100%;
}
.dashBottomBody {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 100%;
}
